<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>北京市</string>
		<key>lsprefix</key>
		<string>京</string>
	</dict>
	<dict>
		<key>city</key>
		<string>天津市</string>
		<key>lsprefix</key>
		<string>津</string>
	</dict>
	<dict>
		<key>city</key>
		<string>上海市</string>
		<key>lsprefix</key>
		<string>沪</string>
	</dict>
	<dict>
		<key>city</key>
		<string>重庆市</string>
		<key>lsprefix</key>
		<string>渝</string>
	</dict>
	<dict>
		<key>city</key>
		<string>河北省</string>
		<key>lsprefix</key>
		<string>冀</string>
	</dict>
	<dict>
		<key>city</key>
		<string>河南省</string>
		<key>lsprefix</key>
		<string>豫</string>
	</dict>
	<dict>
		<key>city</key>
		<string>云南省</string>
		<key>lsprefix</key>
		<string>云</string>
	</dict>
	<dict>
		<key>city</key>
		<string>辽宁省</string>
		<key>lsprefix</key>
		<string>辽</string>
	</dict>
	<dict>
		<key>city</key>
		<string>黑龙江省</string>
		<key>lsprefix</key>
		<string>黑</string>
	</dict>
	<dict>
		<key>city</key>
		<string>湖南省</string>
		<key>lsprefix</key>
		<string>湘</string>
	</dict>
	<dict>
		<key>city</key>
		<string>安徽</string>
		<key>lsprefix</key>
		<string>皖</string>
	</dict>
	<dict>
		<key>city</key>
		<string>山东省</string>
		<key>lsprefix</key>
		<string>鲁</string>
	</dict>
	<dict>
		<key>city</key>
		<string>新疆</string>
		<key>lsprefix</key>
		<string>新</string>
	</dict>
	<dict>
		<key>city</key>
		<string>江苏省</string>
		<key>lsprefix</key>
		<string>苏</string>
	</dict>
	<dict>
		<key>city</key>
		<string>浙江省</string>
		<key>lsprefix</key>
		<string>浙</string>
	</dict>
	<dict>
		<key>city</key>
		<string>江西省</string>
		<key>lsprefix</key>
		<string>赣</string>
	</dict>
	<dict>
		<key>city</key>
		<string>湖北省</string>
		<key>lsprefix</key>
		<string>鄂</string>
	</dict>
	<dict>
		<key>city</key>
		<string>广西省</string>
		<key>lsprefix</key>
		<string>桂</string>
	</dict>
	<dict>
		<key>city</key>
		<string>甘肃省</string>
		<key>lsprefix</key>
		<string>甘</string>
	</dict>
	<dict>
		<key>city</key>
		<string>山西省</string>
		<key>lsprefix</key>
		<string>晋</string>
	</dict>
	<dict>
		<key>city</key>
		<string>内蒙古自治区</string>
		<key>lsprefix</key>
		<string>蒙</string>
	</dict>
	<dict>
		<key>city</key>
		<string>陕西省</string>
		<key>lsprefix</key>
		<string>陕</string>
	</dict>
	<dict>
		<key>city</key>
		<string>吉林省</string>
		<key>lsprefix</key>
		<string>吉</string>
	</dict>
	<dict>
		<key>city</key>
		<string>福建省</string>
		<key>lsprefix</key>
		<string>闽</string>
	</dict>
	<dict>
		<key>city</key>
		<string>贵州省</string>
		<key>lsprefix</key>
		<string>贵</string>
	</dict>
	<dict>
		<key>city</key>
		<string>广东省</string>
		<key>lsprefix</key>
		<string>粤</string>
	</dict>
	<dict>
		<key>city</key>
		<string>青海省</string>
		<key>lsprefix</key>
		<string>青</string>
	</dict>
	<dict>
		<key>city</key>
		<string>西藏自治区</string>
		<key>lsprefix</key>
		<string>藏</string>
	</dict>
	<dict>
		<key>city</key>
		<string>四川省</string>
		<key>lsprefix</key>
		<string>川</string>
	</dict>
	<dict>
		<key>city</key>
		<string>宁夏回族自治区</string>
		<key>lsprefix</key>
		<string>宁</string>
	</dict>
	<dict>
		<key>city</key>
		<string>海南省</string>
		<key>lsprefix</key>
		<string>琼</string>
	</dict>
</array>
</plist>
